{% extends 'mainapp/basic.html'%}
{% load static %}

{% block mycontainer %}
    <div class="hero-white">
        {% include 'mainapp/includes/menu_main.html' %}
    </div>

    <div class="details">
        {% include 'mainapp/includes/menu_catalog.html' %}

        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
<!--                    <img src="{% static 'img/slider1.jpg' %}">-->
                    <img src="/media/{{ product.image }}" alt="product image">
                </div>
                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="/media/{{ product.image }}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/media/{{ product.image }}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/media/{{ product.image }}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">{{ product.name|capfirst }}</h3>
                <br>
                <br>
                <p class="price">{{ product.price }}<span>руб.</span></p>
                <a href="{% url 'basket:add' product.pk %}" class="red-button">
                    В корзину <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}